filter {

        if [message] =~ "netstream" {
		metrics {
			type => "linux-syslog"
			meter => "rsyslog_err"
			add_tag => "netstream_err"
		}
        }
}

output {
	stdout {
		tags => "netstream_err"
  		message => "rate : %{rsyslog_err.rate_1m}"

}


}
#output {
#	librato {
#		account_id => "valentino.g@servermanaged.it"
#		api_token => "00425dca1aa6b6b9b0ac5c190b7dee6f8b38d6c49c593c0c4341ee2c240ce499"
#		counter => [ "value" , "%{rsyslog_err.rate_1m}" , "source", "%{@source_host}", "name" , "Errori Netstream"]
#	}
#}

