{
	address: "127.0.0.1",
	port: 8125,
	dumpMessages: true,
	log: "stdout",
	backends: ["statsd-librato-backend"],
	librato: {
		email: "valentino.g@servermanaged.it",
		token: "00425dca1aa6b6b9b0ac5c190b7dee6f8b38d6c49c593c0c4341ee2c240ce499",
		source: "unique-per-statsd-instance"
	}
}
